POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=nutri
POSTGRES_PORT=5432


GEMINI_API_KEY=test
GEMINI_API_ENDPOINT=http://...

TEMPERATURE=0.5

# LLM_PROVIDER=gemini
# MODEL_NAME=gemini-2.5-flash

LLM_PROVIDER=openai
MODEL_NAME=qwen3-vl-plus # qwen3-max

TAVILY_API_KEY=tvly-dev-...

# Application Config
ENVIRONMENT=production
SECRET_KEY=generate_a_secure_random_string_here_for_prod

MEM0_EMBEDDING_PROVIDER=openai
MEM0_EMBEDDING_MODEL=jina-embeddings-v5-text-small
MEM0_EMBEDDING_API_KEY=jina_ab15cf...
MEM0_EMBEDDING_API_BASE=https://api.jina.ai/v1
