POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=nutri
POSTGRES_PORT=5432

PGWEB_PORT=8999

GEMINI_API_KEY=test
GEMINI_API_ENDPOINT=http://...

TEMPERATURE=0.5
# LLM_PROVIDER=gemini
# MODEL_NAME=gemini-2.5-flash
LLM_PROVIDER=openai
MODEL_NAME=qwen3-max

TAVILY_API_KEY=tvly-dev-...

# Application Config
BACKEND_PORT=8000
BACKEND_WORKERS=3

FRONTEND_PORT=5174
ENVIRONMENT=production
SECRET_KEY=generate_a_secure_random_string_here_for_prod

# Google OAuth
GOOGLE_CLIENT_ID=811...-klsl....apps.googleusercontent.com
API_URL=/api/v1
